.tabs-chat {
  background-color: transparent;
  width: 100%;
  border-radius: 0;
}

.contacts-container {
  height: calc(100vh - 180px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chat-item {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.custom-scrollbar {
  /* Chrome, Edge, and Safari */
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.input-container {
  position: sticky;
  bottom: 0;

  display: flex;
  flex-direction: column;
  gap: 0.375rem;

  background-color: transparent;

  padding: 0.375rem 1rem 0.375rem 1rem;

  width: 100%;
  max-width: 48rem;
  margin: 0 auto;

  box-sizing: border-box;
}

.formatted-message {
  white-space: pre-wrap;
}

.formatted-message p {
  margin-bottom: 1em;
}

.formatted-message strong {
  font-weight: bold;
}

.formatted-message em {
  font-style: italic;
}

.formatted-message del {
  text-decoration: line-through;
}

.formatted-message a {
  color: #170c96 !important;
  text-decoration: underline !important;
}

.highlight-quoted {
  animation: highlight 2s ease-out;
}

@keyframes highlight {
  0% {
    background-color: rgba(59, 130, 246, 0.2);
  }
  100% {
    background-color: transparent;
  }
}
